h1
{
  background-color: palevioletred;
  padding: 20px;
  border: 10px  black solid ;
  width: 300px;
  text-align: center;
}


body
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}



.toggle
{
  display: none;
}


